# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/terraform.tfstate.d/
**/*.tfvars
**/*.tfvars.json

# Local outputs (kubeconfig, talosconfig)
out/
*.kubeconfig
*.talosconfig

# OS
.DS_Store
