apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: platform-root
  namespace: {{ .Release.Namespace }}
spec:
  project: default
  source:
    repoURL: {{ required "platform.repoURL is required" .Values.platform.repoURL | quote }}
    targetRevision: {{ .Values.platform.revision | quote }}
    path: {{ .Values.platform.path | quote }}
  destination:
    server: https://kubernetes.default.svc
    namespace: {{ .Release.Namespace }}
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
